<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgSearch.dao.LabelPropertiesMapper">
  <resultMap id="BaseResultMap" type="com.kgSearch.pojo.LabelProperties">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="label" jdbcType="VARCHAR" property="label" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.kgSearch.pojo.LabelProperties">
    <result column="properties" jdbcType="LONGVARCHAR" property="properties" />
  </resultMap>
  <sql id="Base_Column_List">
    id, label
  </sql>
  <sql id="Blob_Column_List">
    properties
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from lp
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select *
    from lp
  </select>
  <select id="fuzzySelectLabelByString" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select *
    from lp
    where label like '%${_parameter}%' 
  </select>
  <select id="fuzzySelectPropertiesByString" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select *
    from lp
    where properties like '%${_parameter}%' 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from lp
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kgSearch.pojo.LabelProperties">
    insert into lp (id, label, properties
      )
    values (#{id,jdbcType=INTEGER}, #{label,jdbcType=VARCHAR}, #{properties,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kgSearch.pojo.LabelProperties">
    insert into lp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="label != null">
        label,
      </if>
      <if test="properties != null">
        properties,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="label != null">
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="properties != null">
        #{properties,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kgSearch.pojo.LabelProperties">
    update lp
    <set>
      <if test="label != null">
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="properties != null">
        properties = #{properties,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kgSearch.pojo.LabelProperties">
    update lp
    set label = #{label,jdbcType=VARCHAR},
      properties = #{properties,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kgSearch.pojo.LabelProperties">
    update lp
    set label = #{label,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>