<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgSearch.dao.RelationTypeMapGraphMapper">
  <resultMap id="BaseResultMap" type="com.kgSearch.pojo.RelationTypeMapGraph">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="relationTypeID" jdbcType="INTEGER" property="relationTypeID" />
    <result column="graphID" jdbcType="VARCHAR" property="graphID" />
  </resultMap>
  <sql id="Base_Column_List">
    id, relationTypeID, graphID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from relationtypemapgraph
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from relationtypemapgraph
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kgSearch.pojo.RelationTypeMapGraph">
    insert into relationtypemapgraph (id, relationTypeID, graphID
      )
    values (#{id,jdbcType=INTEGER}, #{relationTypeID,jdbcType=INTEGER}, #{graphID,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kgSearch.pojo.RelationTypeMapGraph">
    insert into relationtypemapgraph
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="relationTypeID != null">
        relationTypeID,
      </if>
      <if test="graphID != null">
        graphID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="relationTypeID != null">
        #{relationTypeID,jdbcType=INTEGER},
      </if>
      <if test="graphID != null">
        #{graphID,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kgSearch.pojo.RelationTypeMapGraph">
    update relationtypemapgraph
    <set>
      <if test="relationTypeID != null">
        relationTypeID = #{relationTypeID,jdbcType=INTEGER},
      </if>
      <if test="graphID != null">
        graphID = #{graphID,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kgSearch.pojo.RelationTypeMapGraph">
    update relationtypemapgraph
    set relationTypeID = #{relationTypeID,jdbcType=INTEGER},
      graphID = #{graphID,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>