<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgSearch.dao.TypePropertiesMapper">
  <resultMap id="BaseResultMap" type="com.kgSearch.pojo.TypeProperties">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.kgSearch.pojo.TypeProperties">
    <result column="properties" jdbcType="LONGVARCHAR" property="properties" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type
  </sql>
  <sql id="Blob_Column_List">
    properties
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tp
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select *
    from tp
  </select>
  <select id="fuzzySelectTypeByString" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select *
    from tp
    where type like '%${_parameter}%'
  </select>
  <select id="fuzzySelectTypeByStringFromGraph" resultMap="ResultMapWithBLOBs">
    select tp.id, tp.type, tp.properties
    from relationtypemapgraph rtmg, tp
    where rtmg.graphID = #{graphID,jdbcType=VARCHAR} and tp.id = rtmg.relationTypeID and tp.type like '%' #{keyword,jdbcType=VARCHAR} '%'
  </select>
  <select id="fuzzySelectPropertiesByString" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select *
    from tp
    where properties like '%${_parameter}%'
  </select>
  <select id="fuzzySelectPropertiesByStringFromGraph"  resultMap="ResultMapWithBLOBs">
    select tp.id, tp.type, tp.properties
    from relationtypemapgraph rtmg, tp
    where rtmg.graphID = #{graphID,jdbcType=VARCHAR} and tp.id = rtmg.relationTypeID and tp.properties like '%' #{keyword,jdbcType=VARCHAR} '%'
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tp
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kgSearch.pojo.TypeProperties">
    insert into tp (id, type, properties
      )
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{properties,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kgSearch.pojo.TypeProperties">
    insert into tp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="properties != null">
        properties,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="properties != null">
        #{properties,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kgSearch.pojo.TypeProperties">
    update tp
    <set>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="properties != null">
        properties = #{properties,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kgSearch.pojo.TypeProperties">
    update tp
    set type = #{type,jdbcType=VARCHAR},
      properties = #{properties,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kgSearch.pojo.TypeProperties">
    update tp
    set type = #{type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
   <select id="selectRelationTypeByGraphID" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select tp.id, tp.type, tp.properties
    from relationtypemapgraph rtmg, tp
    where rtmg.graphID = #{graphID,jdbcType=VARCHAR} and tp.id = rtmg.relationTypeID
  </select>
</mapper>